html{
    font-size:15px;
    font-family: "Open Sans", sans-serif;
    color: white;
    background-color: #222;
    }

h1  {
    font-size:60px;
    text-align: center;
    margin:0; 
    padding: 20px 0;
    text-shadow: 3px 3px 20px black;
    }

p,li{
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1px;
    }

a   {
    color: white;
    }

img {
        display: block;
        margin: 0 auto;
    }
    
body{
    width: 600px;
    margin: 0 auto;
    background-color:#2F4F4F;
    padding: 0 20px 20px 20px;
    border: 5px solid #FF6347;
    }